body {
    font-family: 'ABeeZee';font-size: 22px;
}
.button {
    background-color: #AD4379; /* Mystic maroon */
    border-radius:  10px;
    color: white;
    padding: 25px 50px;
    text-align: center;
    font-size: 20px ;
    text-decoration: none;
    display: inline-block;
    margin: 30px 40px;
    cursor: pointer;
}
.button:hover{
    background-color: #2E2D88;  /*cosmic cobalt*/
}
.button1 {
    background-color: #AD4379; /* Mystic maroon */
    border-radius:  10px;
    color: white;
    padding: 15px 40px;
    text-align: center;
    font-size: 20px ;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
}
.button1:hover{
    background-color: #2E2D88;  /*cosmic cobalt*/
}
.button2 {
    background-color: #AD4379; /* Mystic maroon */
    border-radius:  10px;
    color: white;
    padding: 15px 40px;
    text-align: center;
    font-size: 20px ;
    text-decoration: none;
    display: inline-block;
    margin: 10px 40px;
    cursor: pointer;
}
.button2:hover{
    background-color: #2E2D88;  /*cosmic cobalt*/
}
.button3 {
    background-color: #AD4379; /* Mystic maroon */
    border-radius:  10px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 15px ;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
}
.button3:hover{
    background-color: #2E2D88;  /*cosmic cobalt*/
}
.button4 {
    background-color: #AD4379; /* Mystic maroon */
    border-radius:  10px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 15px ;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
}
.button4:hover{
    background-color: #2E2D88;  /*cosmic cobalt*/
}
#container ul
  {
    list-style:none;
  }
#container ul li
    {

      width:400px;
      height:10px;



      color:black;

      float:left;
}

table {
    font-family: 'ABeeZee';
    border-collapse: collapse;
    width: 30%;
}
th{
  border: 1px solid #dddddd;
  text-align:center;
  padding:20px;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}
